<footer class="footer">
  <div class="footer-title__content">
    <h1 class="footer__title">Pizza
      <span>24/7</span>
    </h1>
    <hr>
  </div>

  <div class="footer-content">
    <div class="links">
      <ul>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Our Location</a>
        </li>
        <li>
          <a href="#">Watch More</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="links">
      <ul>
        <li>
          <a href="#">Our menu</a>
        </li>
        <li>
          <a href="#">Festivals</a>
        </li>
        <li>
          <a href="#">Shop</a>
        </li>
      </ul>
    </div>

    <div class="links">
      <ul>
        <li>
          <a href="#">Information</a>
        </li>
        <li>
          <a href="#">How to order</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li>
          <a href="#">Live</a>
        </li>
        <li>
          <a href="#">Delivery</a>
        </li>
      </ul>
    </div>

    <div class="links">
      <ul>
        <li>
          <a href="#">Our Chef</a>
        </li>
        <li>
          <a href="#">Work with us</a>
        </li>
        <li>
          <a href="#">Courses</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
